.navbar {
    height: 5rem;
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 3;
}
.desktopMenuListItem{
    margin: 1rem;
    cursor: pointer;

}
.logo{
    object-fit: cover;
    height: 4rem;
    width: 4rem;
}
.desktopMenuListItem:hover{
    color:rgb(153, 255, 0);
    padding-bottom: 0.5rem;
    border-bottom:3px solid rgb(17, 255, 0);

}
.desktopMenuBtn{
    background: white;
    color: black;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    border-radius: 2rem;
    
}
.desktopMenuImg{
    object-fit: cover;
    height: 3rem;
    width: 3rem;
    margin: .6rem;
}