#intro{
    height:calc(100vh-4rem);
    width:100vw;
    max-width: 75rem;
    margin: 0 auto;
    overflow: hidden;
    position: relative;

}
.bg{
    position: absolute;
    top: -2rem;
    right:0;
    z-index: -1;
    object-fit: cover;
    height: 100vh;
}
.introContent{
    height: 100vh;
    width: 100vw;
    padding: 2rem;
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;


}
.hello{
    font-size: 1.75 rem;
    font-weight: 100;
}
.introName{
    color:aquamarine;
}
.introPara{
    font-size: medium;
    font-weight: 100;

}
.btn{
    background: white;
    margin: 1rem 0;
    padding: 0.75rem 1rem;
    border:none;
    border-radius: 2.5rem;
}
.btnImg{
    object-fit: cover;
    margin: 0 0.25rem;
    height: 2rem;
}

@media only screen and (max-device-width: 480px)
{
    #intro{
        overflow:visible;
    }
    .bg{
        top: -1rem;
        right:-11rem;
        width: 100vh;
        height: auto;
        
    }
}
